.icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.container{
    max-width: 500px;
    margin-top: 10px;
}
.faIcon{
    font-size: 20px;
}
#ig{
    background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white; /* if it's for text */
}